.Alert {
  margin: 0 auto 20px;
  width: 40%;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  background-color: white;
  border: 1px solid #777;
  border-radius: 4px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  padding: 10px;
}

.Alert-close {
  float: right;
  color: #fff;
  cursor: pointer;
}

.primary {
  background: #42A5F5;
}

.warning {
  background: #EF5350;
}

.success {
  background: #66BB6A;
}