.Modal {
  position: fixed;
  z-index: 500;
  color: #333;
  font-size: 18px;
  font-weight: 300;
  background-color: white;
  width: 70%;
  border: 1px solid #777;
  border-radius: 4px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease;
  padding: 15px;
}

@media (min-width: 600px) {
  .Modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}

.Modal-title {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ccc;
  font-size: 24px;
  font-weight: 400;
  padding: 5px 0;
}

.Modal-close {
  float: right;
  color: #555;
  cursor: pointer;
}